<!DOCTYPE html>
<html>
  <head>
    <title>ViewingParty</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
     <%# <%= image_tag('paw_print.png', id: 'main-logo') %> %>
      <span style="text-align: right">
      <a class="active" href="/">Log-In</a>
      <a class="active" href="/register">Register</a>
      </span>
    </div>
    <div class="col-sm", style='padding-left: 25px'>
      <div style='height: 50%'>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
        <br>
      </div>
    <main>
      <%= yield %>
    </main>
    </div>
    </footer>
  </body>
</html>
